.navbar {
    background-color: #4285f4;
    padding: 10px;
}

.navbar-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.navbar-item {
    margin-right: 10px;
}

.navbar-link {
    text-decoration: none;
    color: #fff;
    padding: 5px;
}

.navbar-link:hover {
    background-color: #333;
    color: #fff;
}